<div class='container-fluid'>  
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="/assets/img/1.jpg" alt="Delhi Metro">  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="/assets/img/2.jpg" alt="Bangalore Metro">  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="/assets/img/3.jpg" alt="Channai Metro">  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="/assets/img/4.jpg" alt="Jaipur Metro">  
            </ng-template> 
        </ngb-carousel>  
    </div>  
  
</div>  