<footer id="footer"><!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 ml-1">
                    <div class="companyinfo">
                        <h2><span>Adhikari</span>-Decor</h2>
                        <p>Your Imagination. Our Creation.</p>
                    </div>
                </div>
                
                <div class="col-sm-3 ml-auto mr-3">
                    <div class="address">
                        <img src="/assets/img/map.png" alt="" />
                        <p><strong>D-31, Sector - 9 , Noida (U.P)</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="ml-1">Copyright © 2020 Adhikari Decor. All rights reserved.</p>
                <p class="ml-auto mr-3">Designed by <span><a target="_blank" href="https://github.com/varunadhikari/">Varun Adhikari</a></span></p>
            </div>
        </div>
    </div>
    
</footer><!--/Footer-->