<app-carousel></app-carousel>  
<div>
    <section>
		<div class="container">
			<h2 id="about1" class="title text-center">About</h2>
			<h3 class="title text-center">Adhikari Decor</h3>
			<p align="center">Leading Home Decor & Home Furnishing Store in Noida.</p> 
			<h4 >Vision And Mission</h4>
			<p align="center">We are highly motivated by our mission and vision to supply our customers with quality home furnishing products in the form of mattresses, pillows, Rugs & Carpets ,upholstery sheets and furnishing items. We work with the vision to make prompt delivery of our products to our customers who have put their trust on us that constantly tempts us to work even better.
 			</p>

 			<h4 >Strength</h4>
			<p align="center">Competitive pricing and timely delivery of products is our biggest strength. We deal in products that suit the requirements of clients in all seasons. Far above the ground latex and firmness insures consistency in our products for years. Our every Product gets nearer to clients.
 			</p>
			
		</div>
	</section>
</div>