<div id="products-page" class="container">
    <h2 id="about1" class="title text-center">Products</h2>
<div class="row pCard">
    <div class="col-md-4 img-portfolio">
        <div class="card responsive-img" >
            <img class="card-img-top" src="/assets/img/wall.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Wallpaper</h5>
            </div>
          </div>
    </div>
    <div class="col-md-4 img-portfolio">
        <div class="card responsive-img" >
            <img class="card-img-top" src="/assets/img/curtain.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Curtains</h5>
            </div>
          </div>
    </div>
    <div class="col-md-4 img-portfolio">
        <div class="card responsive-img" >
            <img class="card-img-top" src="/assets/img/blind.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Blinds</h5>
            </div>
          </div>
    </div>
</div>
<div class="row pCard">
    <div class="col-md-4 img-portfolio">
        <div class="card responsive-img" >
            <img class="card-img-top" src="/assets/img/grass.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Artficial Grass</h5>
            </div>
          </div>
    </div>
    <div class="col-md-4 img-portfolio">
        <div class="card responsive-img" >
            <img class="card-img-top" src="/assets/img/flooring.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">PVC Flooring</h5>
            </div>
          </div>
    </div>
    <div class="col-md-4 img-portfolio">
        <div class="card responsive-img" > 
            <img class="card-img-top" src="/assets/img/mat.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Foot Mats</h5>
            </div>
          </div>
    </div>
</div>
</div>